<div id="top-size">
  <div id="left-colom">
  <p>aaaa</p>
  </div>
  <div id="right-colom">
    <h2>個人認証</h2>

    <p><button type="button" href="/user_a" class="btn btn-success">UserA ログイン</button></p>
    <p><button type="button" href="/user_b" class="btn btn-success">UserB ログイン</button></p>


    <br>
    <br>

    <h2>Twitter認証</h2>

    <p><button type="button" href="/second" class="btn btn-info">Twitter認証完了</button></p>

    <br>
    <br>



    <h2>管理画面</h2>

    <p><button type="button" href="/admin" class="btn btn-default">管理画面</button></p>

  </div>

</div>