<h1>認証一覧</h1>

<table class="table table-bordered table-size">
  <tr class="active">
    <th>userA</th>
    <th>userB</th>
    <th>認証の可否</th>
    <th>認証完了時刻</th>
    <th>詳細</th>
  </tr>

  <% @admins.each do |admin| %>
    <tr>
      <td><%= admin.user_a %></td>
      <td><%= admin.user_b %></td>
      <td></td>
      <td><%= admin.created_at %></td>
      <td><%= link_to '詳細', admin %></td>
    </tr>
  <% end %>
</table>