
<h1>詳細</h1>

<table class="table table-bordered table-size">
  <tr>
    <th>userA</th>
    <td><%= @admin.user_a %></td>
  </tr>
  <tr>
    <th>userB</th>
    <td><%= @admin.user_b %></td>
  </tr>
  <tr>
    <th>個人認証の時間差</th>
    <td><%= @admin.first %></td>
  </tr>
  <tr>
    <th>Twitter認証の時間差</th>
    <td><%= @admin.second %></td>
  </tr>
  <tr>
    <th>確認証同士の時間差</th>
    <td><%= @admin.fands %></td>
  </tr>
  <tr>
    <th>GPS緯度の差</th>
    <td><%= @admin.gps_ido %></td>
  </tr>
  <tr>
    <th>GPS経度の差</th>
    <td><%= @admin.gps_kedo %></td>
  </tr>
  <tr>
    <th>認証完了時刻</th>
    <td><%= @admin.created_at %></td>
  </tr>
</table>