.btn{
  width: 150px;
}

#top-size{
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 100px;
  background-color: #B9DBD8;

}


#left-colom{
  width: 200px;
  height: 500px;
  float: left;
  text-align: center;
}


#right-colom{
  text-align: right;
}