

.form-form{
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}


.form-horizontal{
  text-align: center;
  margin-top: 50px;
}


.form-control{
  margin-bottom: 10px;
}