<%= form_for :login, :html => {:class => 'form-horizontal'} do |login| %>
  <div class="form-form">
      <%= login.label :userid, "ID", :class => "col-sm-4 control-label" %>
      <div class="col-sm-8">
        <%= login.text_field :userid, :class=>"form-control" %>
      </div>


      <%= login.label :password, "パスワード", :class => "col-sm-4 control-label" %><br>
      <div class="col-sm-8">
        <%= login.text_field :password, :class=>"form-control"  %>
      </div>

      <%= login.submit "　　Login　　", :class=>"btn btn-info" %>
  </div>
<% end %>